img{
    position: relative;
    animation: mycutie 3s infinite;
    animation-timing-function: ease-in;
    border-radius: 50%;
}
@keyframes mycutie{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}